body {
	background-color: #242038;
	color: #8D86C9 !important;
	font-family: "Montserrat";
	cursor: none;
	margin: 0;
	position: relative;
	overflow: hidden;
}

* {
	box-sizing: border-box
}

::selection {
	background: #F7ECE1;
}

@keyframes slowShow{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1
	}
}

h1{
	font-size: calc(25px + (46 - 25) * ((100vw - 300px) / (1600 - 300)));
}

h3{
	font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1600 - 300)));
}

a {
	text-decoration: none
}

ul{
	list-style-type: none;
	height: 100%;
	width: 100%;
	padding: 0
}

ul li{
	margin: 20px 0
}

ul svg{
	stroke: white;
	fill: #8D86C9;
}

.socials{
	position: absolute;
	left: 10px;
	bottom: 20PX;
	width: 100px;
	z-index: 20;
}

.socials li.tw svg {
    width: 15px;
    height: 15px;
}

.socials li.fb svg {
    width: 15px;
    height: 15px;
}

.socials li a {
    position: relative;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	line-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center
}

.socials svg{
	width: 2.55319vw;
	height: 2.55319vw;
}

/*ILLUSTRATION*/

@keyframes ekumanslidein {
	0% {
		transform: translateX(-600px)
	}
	50% {
		transform: translateX(-600px) scaleX(1)
	}
	75% {
		transform: translateX(30px) scaleX(.9)
	}
	87.5% {
		transform: translateX(-5px)
	}
	97% {
		transform: translateX(3px)
	}
	to {
		transform: translateX(0) scaleX(1)
	}
}

@keyframes ekumanarmrotate {
	0%,
	45%,
	65%,
	85%,
	to {
		transform: rotate(0deg)
	}
	55%,
	75% {
		transform: rotate(-5deg)
	}
}

@keyframes ekumanhairwobble {
	50%,
	to {
		transform: scaleX(1)
	}
	75% {
		transform: scaleX(1.2)
	}
	87.5% {
		transform: scaleX(.8)
	}
	97% {
		transform: scaleX(1.09)
	}
}

@keyframes ekuwomanlidein {
	0% {
		transform: translateX(600px)
	}
	50% {
		transform: translateX(600px) scaleX(1)
	}
	75% {
		transform: translateX(-30px) scaleX(.9)
	}
	87.5% {
		transform: translateX(5px)
	}
	97% {
		transform: translateX(-3px)
	}
	to {
		transform: translateX(0) scaleX(1)
	}
}

@keyframes kulapdropin {
	0% {
		transform: translateY(-230px) scale(0) rotate(0deg)
	}
	35% {
		transform: translateY(-230px) scale(1.03) rotate(20deg)
	}
	45% {
		transform: rotate(10deg)
	}
	50% {
		transform: translateY(-5px) scale(.98) rotate(0deg)
	}
	55% {
		transform: translateY(-10px) scale(1.01) rotate(0deg)
	}
	60% {
		transform: translateY(0) scale(1)
	}
	to {
		transform: translateY(0)
	}
}

@keyframes ekuwomanarmrotate {
	0%,
	45%,
	65%,
	85%,
	to {
		transform: rotate(0deg)
	}
	55%,
	75% {
		transform: rotate(10deg)
	}
}

@keyframes ekuwomanarmbackrotate {
	0%,
	45%,
	65%,
	85%,
	to {
		transform: rotate(0deg)
	}
	55%,
	75% {
		transform: rotate(-13deg)
	}
}

@keyframes manscreenpopup {
	0%,
	45%,
	55%,
	65%,
	75%,
	85% {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

@keyframes manscreenfloat {
	0%,
	to {
		transform: translateY(0)
	}
	50% {
		transform: translateY(-10px)
	}
}

@keyframes backhairwave {
	0%,
	to {
		transform: scaleX(1) skewX(0) skewY(0)
	}
	50% {
		transform: scaleX(1.07) skewX(3deg) skewY(5deg)
	}
}

#ku{
	width: 70%;
	position: absolute;
	right: -200px;
	animation: slowShow 2s
}

#ku.svgmate #Bluearmbot,
#ku.svgmate #Chair,
#ku.svgmate #chairbackbar,
#ku.svgmate #man,
#ku.svgmate .mankauf {
	animation-name: ekumanslidein;
	animation-iteration-count: 1;
	animation-duration: 1.2s;
	animation-timing-function: ease-out;
	transform-origin: 502px 454px
}

#ku.svgmate #Bluearmbot,
#ku.svgmate #Chair,
#ku.svgmate #chairbackbar,
#ku.svgmate .mankauf {
	animation-duration: 1.5s
}

#ku.svgmate #Bluearmbot {
	animation-name: ekumanarmrotate;
	animation-iteration-count: infinite;
	animation-duration: 1.8s;
	animation-delay: 1.2s;
	transform-origin: 448.122px 403.482px
}

#ku.svgmate .mankauf {
	animation-name: ekumanhairwobble;
	animation-duration: 1.38s;
	transform-origin: 396.257px 260.5px
}

#ku.svgmate #Chair_1_,
#ku.svgmate #Woman,
#ku.svgmate #back-arm,
#ku.svgmate #backleg_1_ {
	animation-name: ekuwomanlidein;
	animation-iteration-count: 1;
	animation-duration: 1.8s;
	animation-timing-function: ease-out;
	transform-origin: 502px 454px
}

#ku.svgmate #Chair_1_ {
	animation-duration: 1.95s
}

#ku.svgmate #Laptop,
#ku.svgmate #keyboard {
	animation-name: kulapdropin;
	animation-iteration-count: 1;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	transform-origin: 648.689px 361.659px
}

#ku.svgmate #keyboard {
	animation-duration: 2.5s;
	transform-origin: 479.857px 383px
}

#ku.svgmate #lowerarm,
#ku.svgmate #lowervackarm {
	animation-name: ekuwomanarmrotate;
	animation-iteration-count: infinite;
	animation-duration: 1.8s;
	animation-delay: 2.1s;
	animation-timing-function: ease-out;
	transform-origin: 751.134px 385.578px
}

#ku.svgmate #lowervackarm {
	animation-name: ekuwomanarmbackrotate;
	transform-origin: 736.882px 386px
}

#ku.svgmate #Man_screen .greenscreen,
#ku.svgmate #Man_screen .redscreen,
#ku.svgmate #Man_screen .screenbutton {
	animation-name: manscreenpopup;
	animation-iteration-count: 1;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	transform-origin: 526.882px 383px
}

#ku.svgmate #Man_screen .greenscreen,
#ku.svgmate #Man_screen .redscreen {
	animation-duration: 3s
}

#ku.svgmate #Man_screen .greenscreen {
	animation-duration: 3.3s
}

#ku.svgmate #Man_screen,
#ku.svgmate #Man_screen .greenscrmove,
#ku.svgmate #Man_screen .redskmove,
#ku.svgmate .womscreenmove {
	animation-name: manscreenfloat;
	animation-iteration-count: infinite;
	animation-duration: 9s;
	animation-timing-function: ease-in-out
}

#ku.svgmate #Man_screen .greenscrmove,
#ku.svgmate #Man_screen .redskmove {
	animation-duration: 6s
}

#ku.svgmate #Man_screen .greenscrmove {
	animation-duration: 7.2s
}

#ku.svgmate #hairback,
#ku.svgmate #womanscreen {
	animation-name: manscreenpopup;
	animation-iteration-count: 1;
	animation-duration: 3.9s;
	animation-timing-function: ease-in-out;
	transform-origin: 648.689px 361.659px
}

#ku.svgmate #hairback {
	animation-name: backhairwave;
	animation-iteration-count: infinite;
	animation-duration: 3.3s;
	transform-origin: 785.132px 295.833px
}

/*HAMBURGER*/

.header{
	display: flex;
	padding: 50px;
	justify-content: flex-end;
	height: 10%;
}

.toggle {
	left: 50px;
	top: 50px;
	cursor: pointer;
	display: flex;
  }
  .toggle input {
	display: none;
  }
  .toggle input + div {
	width: 20px;
	height: 14px;
	position: relative;
  }
  .toggle input + div div {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
  }
  .toggle input + div div span {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
  }
  .toggle input + div div span:first-child {
	top: 0;
  }
  .toggle input + div div span:first-child:before, .toggle input + div div span:first-child:after {
	top: 0;
  }
  .toggle input + div div span:last-child {
	bottom: 0;
  }
  .toggle input + div div span:last-child:before, .toggle input + div div span:last-child:after {
	bottom: 0;
  }
  .toggle input + div div span:before, .toggle input + div div span:after {
	content: '';
	display: block;
	width: 47%;
	height: 2px;
	border-radius: 1px;
	background: #8D86C9;
	position: absolute;
	-webkit-backface-visibility: hidden;
	transition: border-radius .3s ease, -webkit-transform .5s ease;
	transition: transform .5s ease, border-radius .3s ease;
	transition: transform .5s ease, border-radius .3s ease, -webkit-transform .5s ease;
  }
  .toggle input + div div span:before {
	left: 0;
	-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
	-webkit-transform: translate(1px, 0) scaleX(1.1);
			transform: translate(1px, 0) scaleX(1.1);
  }
  .toggle input + div div span:after {
	right: 0;
	-webkit-transform-origin: 100% 50%;
			transform-origin: 100% 50%;
	-webkit-transform: translate(-1px, 0) scaleX(1.1);
			transform: translate(-1px, 0) scaleX(1.1);
  }
  .toggle input + div svg {
	display: block;
	fill: none;
	stroke: #8D86C9;
	stroke-width: 2px;
	width: 44px;
	height: 44px;
	stroke-linecap: round;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -22px 0 0 -22px;
	stroke-dasharray: 0 82.801 8 82.801;
	stroke-dashoffset: 82.801;
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-backface-visibility: hidden;
	-webkit-transform: scale(1);
			transform: scale(1);
	transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, -webkit-transform .5s ease;
	transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease;
	transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease, -webkit-transform .5s ease;
  }
  .toggle input + div svg:nth-child(3) {
	-webkit-transform: rotate(180deg) scale(1);
			transform: rotate(180deg) scale(1);
  }
  .toggle input:checked + div div {
	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
  }
  .toggle input:checked + div div span:first-child:before {
	-webkit-transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
			transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
  }
  .toggle input:checked + div div span:first-child:after {
	-webkit-transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
			transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
  }
  .toggle input:checked + div div span:last-child:before {
	-webkit-transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
			transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
  }
  .toggle input:checked + div div span:last-child:after {
	-webkit-transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
			transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
  }
  .toggle input:checked + div svg {
	stroke-dashoffset: 62;
	stroke-dasharray: 0 82.801 62 82.801;
	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
  }
  .toggle input:checked + div svg:nth-child(3) {
	-webkit-transform: rotate(270deg);
			transform: rotate(270deg);
  }
  

.btnmore {
	cursor: none;
	display: none;
	transition: all .5s;
}

.btnmore:before {
	content: '';
	display: block;
	width: 0%;
	height: 4px;
	height: .08511vw;
	background: #725AC1;
	position: absolute;
	transition: width .6s;
	bottom: 15px;
	bottom: .6383vw;
	left: 0
}

.btnmore:hover:before {
	animation: hoverlink 2s ease-in-out infinite;
	width: 0%
}

.btnmore h5{
	margin: 25px 10px;
	margin-top: 70px;
	color: #725AC1;
}

@keyframes hoverlink {
	0% {
		width: 0%;
		left: 0
	}
	20% {
		width: 100%;
		left: 0;
		right: 0
	}
	21% {
		width: 100%;
		left: auto;
		right: 0
	}
	40% {
		right: 0;
		left: auto;
		width: 0%
	}
	100% {
		width: 0%;
		left: auto;
		right: 0
	}
}


.landingPage {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	padding: 120px;
	padding-top: 30px;
	position: relative;
	transition:all 1s linear;
	left: 0;
}

.landingPage__title{
	display: flex;
	flex-direction: column;
	align-items: flex-start
}
.landingPage__title h1, .landingPage__title h3{
	margin: 10px;
	transition: all .5s;
}

.landingPage__title h3{
	font-weight: 500;
	display: none;
}

.pelement {
	transition: all 260ms ease-out !important;
	will-change: transform;
}

.bottom{
	position: absolute;
	right: 50px;
	bottom: 70px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom h5{
	font-weight: 700;
	margin: 0 8px;
}

.bottom h5:nth-child(1){
	color: #725AC1;
}

.bottom h5:nth-child(3){
	margin-right: 40px;
}

.control {
	display: flex;
	justify-content: center;
	align-items: center;

}

.control>div {
	width: 1.70213vw;
	height: 1.70213vw;
	position: relative
}

.control>div:before {
	content: '';
	display: block;
	position: absolute;
	top: 1;
	left: 0;
	width: 40px;
	width: 1.70213vw;
	height: 40px;
	height: 1.70213vw;
	background: #8D86C9;
	border-radius: 50%;
	transform: scale(0, 0);
	opacity: 0;
	transition: transform 260ms, opacity 160ms
}

.control>div:hover:before {
	opacity: 1;
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1.2)
}

.control>div:hover svg path {
	fill: #F7ECE1
}

.control>div svg {
	width: 8px;
	width: .44043vw;
	height: 14px;
	height: .79574vw;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -5px;
	margin: -.29787vw 0 0 -.21277vw
}

.control>div.next {
	margin-left: 10px;
	margin-left: 1.5vw
}

.control>div.next svg {
	margin: -7px 0 0 -3px;
	margin: -.29787vw 0 0 -.12766vw;
}

.control svg {
	fill: #8D86C9
}


/*cursor*/

.box {
	position: absolute;
	width: 8px;
	height: 8px;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -4px;
	background: #8D86C9;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	opacity: 0;
	cursor: none;
	z-index: 1000;
	pointer-events: none;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	will-change: transform
}

.box.hover {
	height: 30px;
	width: 30px;
	margin: -15px 0 0 -15px;
	background: transparent;
	border: 2px solid #8D86C9
}

.cursor .pointer {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	background: #1f2126;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	cursor: none;
	z-index: 1000;
	pointer-events: none;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	will-change: transform;
	overflow: hidden
}

.cursor .loading {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	background: transparent;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	cursor: none;
	z-index: 1000;
	pointer-events: none;
	will-change: transform;
	overflow: hidden;
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0)
}

.cursor .loading #preload {
	animation: rotate 1s linear infinite;
	width: 100%;
	height: 100%
}

.cursor .loading #preload circle {
	stroke: #000;
	stroke-width: 2;
	fill: transparent;
	transform-origin: center;
	animation: svg-preloader 2s ease-in-out forwards infinite
}

@keyframes svg-preloader {
	0% {
		stroke-dasharray: 121;
		stroke-dashoffset: 121;
		transform: rotate(0deg) rotateY(0deg)
	}
	50% {
		stroke-dasharray: 121;
		stroke-dashoffset: 211;
		transform: rotate(0deg) rotateY(0deg)
	}
	50.01% {
		stroke-dasharray: 121;
		stroke-dashoffset: 211;
		transform: rotate(-85deg) rotateY(180deg)
	}
	100% {
		stroke-dasharray: 121;
		stroke-dashoffset: 121;
		transform: rotate(-85deg) rotateY(180deg)
	}
}

@keyframes rotate {
	to {
		transform: rotate(-360deg)
	}
}

.drag {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
	background: transparent;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	cursor: none;
	z-index: 1000;
	pointer-events: none;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	will-change: transform
}

.drag .next {
	position: absolute;
	top: 50%;
	right: -18px;
	height: 30px;
	margin-top: -12px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0
}

.drag .next svg path {
	fill: #8D86C9
}

.drag .prev {
	position: absolute;
	top: 50%;
	left: -18px;
	height: 30px;
	margin-top: -12px
}

.drag .prev svg path {
	fill: #8D86C9
}

.drag .open {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	border: 2px solid #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.about{
	display: none
}